{% macro input(name, value, id, label, class, placeholder, type, required) %}
    <div class="{% if required %}required {% endif %}field{% if has_error(name) %} error{% endif %}">
        <label for="{{ id }}">{{ label }}</label>
        <input type="{{ type|default('text') }}" name="{{ name }}" value="{{ value }}" id="{{ id }}" class="{{ class }}" placeholder="{{ placeholder }}" {% if required %}required{% endif %}>
    </div>
    {% if has_error(name) %}
        <div class="ui error message">
            <p>{{ error(name) }}</p>
        </div>
    {% endif %}
{% endmacro %}

{% macro select(name, options, value_key, text_key, default_value, default_text, selected_value, id, label, class) %}
    <div class="field{% if has_error(name) %} error{% endif %}">
        {% if label %}
            <label for="{{ id }}">{{ label }}</label>
        {% endif %}
        <select name="{{ name }}" id="{{ id }}" class="{{ class }}">
            {% if default_value or default_text %}
                <option value="{{ default_value }}">{{ default_text }}</option>
            {% endif %}
            {% for option in options %}
                <option value="{{ attribute(option, value_key) }}"{% if selected_value == attribute(option, value_key) %} selected{% endif %}>{{ attribute(option, text_key) }}</option>
            {% endfor %}
        </select>
    </div>
    {% if has_error(name) %}
        <div class="ui error message">
            <p>{{ error(name) }}</p>
        </div>
    {% endif %}
{% endmacro %}

{% macro textarea(name, value, id, label, class, rows, cols) %}
    <div class="field{% if has_error(name) %} error{% endif %}">
        <label for="{{ id }}">{{ label }}</label>
        <textarea class="{{ class }}" name="{{ name }}" id="{{ id }}" cols="{{ cols }}" rows="{{ rows }}">{{ value }}</textarea>
    </div>
    {% if has_error(name) %}
        <div class="ui error message">
            <p>{{ error(name) }}</p>
        </div>
    {% endif %}
{% endmacro %}
