
{% macro group(name, value, id, label, class, type) %}
    <div class="form-group{% if has_error(name) %} has-error{% endif %}">
        <label for="{{ id }}">{{ label }}</label>
        <input type="{{ type|default('text') }}" name="{{ name }}" value="{{ value }}" id="{{ id }}" class="form-control {{ class }}" aria-describedby="{{ id }}-help-block">
        <span id="{{ id }}-help-block" class="help-block">{{ error(name) }}</span>
    </div>
{% endmacro %}

{% macro select(name, options, value_key, text_key, default_value, default_text, selected_value, id, label) %}
    <div class="form-group{% if has_error(name) %} has-error{% endif %}">
        {% if label %}
            <label for="{{ id }}">{{ label }}</label>
        {% endif %}
        <select name="{{ name }}" id="{{ id }}" class="form-control" aria-describedby="{{ id }}-help-block">
            {% if default_value or default_text %}
                <option value="{{ default_value }}">{{ default_text }}</option>
            {% endif %}
            {% for option in options %}
                <option value="{{ attribute(option, value_key) }}"{% if selected_value == attribute(option, value_key) %} selected{% endif %}>{{ attribute(option, text_key) }}</option>
            {% endfor %}
        </select>
        <span id="{{ id }}-help-block" class="help-block">{{ error(name) }}</span>
    </div>
{% endmacro %}

{% macro textarea(name, value, id, label, class, rows, cols) %}
    <div class="form-group{% if has_error(name) %} has-error{% endif %}">
        <label for="{{ id }}">{{ label }}</label>
        <textarea class="form-control {{ class }}" name="{{ name }}" id="{{ id }}" cols="{{ cols }}" rows="{{ rows }}" aria-describedby="{{ id }}-help-block">{{ value }}</textarea>
        <span id="{{ id }}-help-block" class="help-block">{{ error(name) }}</span>
    </div>
{% endmacro %}
